[package]
name = "blur-plugin"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
log.workspace = true
serde.workspace = true
plugins-support={path = "../plugins_support"}