[package]
name = "plugins-support"
version = "0.1.0"
edition = "2024"


[dependencies]
serde.workspace = true
serde_json.workspace = true
log.workspace = true
env_logger.workspace = true
thiserror.workspace = true
chrono.workspace = true